<section id="blog"">
  <div class="container">
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-8">
      <article>
      <span><time datetime="<%= article.date.strftime('%Y-%m-%d') %>"><%= article.date.strftime('%A %b %e, %Y') %></time></span></span>
      <hr>
        <h2><%= article.title %></h2>
        <%= partial '/blog/article_meta', locals: { article: article } %>
        <br>
        <%= article.body %>
        <hr>
      </article>
      <% if article.article_previous || article.article_next %>
    <ul class="read_next">
        <% if article.article_previous %>
          <%= link_to("<i class='fa fa-caret-left'></i> #{article.article_previous.title}", article.article_previous) %>
        <% else %>
          No previous article
        <% end %>
    |
        <% if article.article_next %>
          <%= link_to("#{article.article_next.title} <i class='fa fa-caret-right'></i>", article.article_next) %>
        <% else %>
          No subsequent article
        <% end %>
    </ul>
    <% end %>
      </div>
        <div class="col-2">
        </div>
    </div>
  </div>
  <div class="container">
    
  </div>
</section>
