<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="cleartype" content="on" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <link type="text/plain" rel="author" href="/humans.txt" />
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />

    <title>magmo</title>

    <%= stylesheet_link_tag "application" %>
    <%= yield_content :stylesheets %>

    <% if content_for? :styles %>
      <style type="text/css">
        <%= yield_content :styles %>
      </style>
    <% end %>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <%= yield_content :head %>
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <%= image_tag 'logo+name-blue.png', alt: 'Magmo' %>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead text-center d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>State channel research and development</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">
            🦄 To help ethereum scale! 🦄
            </p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Wait, what?</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">
              We are a small team of researchers working on a state channels - a scaling 
              solution for the ethereum blockchain.
            </p>

            <p class="text-faded mb-4">
              Our first project is the <a href="https://github.com/magmo/force-move-games">
              force-move games</a> framework - a small state channel framework capable of
              running 3rd-party 'applications' that conform to a simple state-machine interface.
              We will be publishing a white paper containing a full description of the
              framework and its capabilities in the coming weeks. In the meantime, 
              <a href="https://github.com/magmo/force-move-games">check out the code!</a>.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="my-4">
            <p class="mb-5">
              If you want to find out more about what we're doing or are interested in
              getting involved, please let us know!
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mr-auto text-center">
            <a href="https://github.com/magmo">
              <i class="fab fa-github fa-6x"></i>
            </a>
          </div>
          <div class="col-lg-6 mr-auto text-center">
            <a href="mailto:research@magmo.com">
              <i class="far fa-envelope fa-6x"></i>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Javascript -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
    <%= javascript_include_tag 'modernizr-3.5.0.min' %>
    <%= javascript_include_tag 'application' %>
    <%= yield_content :javascripts %>
    <%= google_analytics_tag %>
  </body>
</html>
